<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale" />
<title>Product App</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="nav-bar"></div>
	
	<div id="app">
		<div class="product">
		<div class="produce-image">
			<img v-bind:src="image" />
			
		</div>
		
		<div class="product-info">
			<h1>{{ product + '?'}}</h1>
			<p v-show="inStock">In Stock</p> <!--V-show only toggles visibility, it does not insert or remove the element from the DOM. -->
			<!--
			<p v-if="inventory > 10">In Stock</p>
			<p v-else-if="inventory<=10 && inventory > 0">Almost sold out!</p>
			<p v-else>Out of Stack</p> 
			-->
			<!--We can use the v-if and v-else directives to determine which element to render. -->
			<p v-else>Out of Stock</p>
			<span v-if="onSale">On Sale!</span>
		</div>
		
		
		</div>
	</div>
	
	<!-- production version, optimized for size and speed -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="main.js"></script>
</body>
</html>

<!-- Dane można powiązać z atrybutami HTML.
Składnia jest v-bind:lub :w skrócie.
Nazwa atrybutu występująca po :znaku określa atrybut, z którym wiążemy dane.
W cudzysłowie atrybutu odwołujemy się do danych, z którymi jesteśmy powiązani. -->